/* fondo de la pagina */
body {
    background-image: url(/image/fondo2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

/* cambios para el menu */
a {
    color: red;
    text-decoration: none;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: red;

}

.nav li {
    float: left;
}

.nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav a:hover {
    background-color:rgb(128, 2, 2);
}
/* Para colorear la opcion de acuerdo a la seccion donde se encuentre */
#inicio .nav li:nth-child(1) a,
#cuento1 .nav li:nth-child(2) a, 
#cuento2 .nav li:nth-child(3) a,
#cuento3 .nav li:nth-child(4) a,
#cuento4 .nav li:nth-child(5) a,
#cuento5 .nav li:nth-child(6) a{
    background-color: black;
    padding: 14px 16px;
}

/* modificaciones en el contenido de la pagina  */
.content{
    font-size: 100%;
    padding: 7.5px;
    max-width: 75%;
    text-align: justify;
    margin: auto;
    display: block;
    /*overflow: hidden;*/ 
    color: aliceblue;
}

.title, .subtitle{
    color: aliceblue;
    text-align: center;
} 


img {
    width: 450px;
    height: 250px;
    float: right;
    margin: 0px 0px 25px 25px ;
}

dt{
    font-weight:bold;
    color:red
}

iframe {
    margin: auto;
    display: block;
    /*overflow: hidden;*/ 
}


  